.container {
    display: grid;
    height: 800px;
    width: 800px;
    /* grid-auto-columns: 16; */
    /* grid-auto-rows: 16; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* grid-template-rows: auto; */
    /* grid-auto-rows: auto; */
    border: 1px solid black;
}

.cell {
    border: 1px solid black;

}

.hilight {
    background-color: black;
}

.btn-container {
    display: flex;
}

button {
    height: 45px;
    width: 125px;
    margin: 25px;
    font-size: x-large;
}

