.main-area {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    height: 800px;
    width: 800px;
    /* grid-auto-columns: 16; */
    /* grid-auto-rows: 16; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* grid-template-rows: auto; */
    /* grid-auto-rows: auto; */
    border: 1px solid black;
}

.cell {

}

.cell-border {
    border: 1px solid black;
}

.hilight {
    background-color: black;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    height: fit-content;
    width: 125px;
    margin: 25px;
    font-size: x-large;
}

