.main-area {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    height: 800px;
    width: 800px;

    border: 1px solid black;
}

.cell {

}

.cell-border {
    border: 1px solid black;
}

.hilight {
    background-color: black;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    height: fit-content;
    width: 125px;
    margin: 25px;
    font-size: x-large;
}

.color-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}